aws_region          = "us-east-1"
environment         = "dev"
app                 = "platform-env"
owner               = "platform-team"
data_classification = "restricted"

name_prefix          = "fintech1-demo1"
vpc_cidr             = "10.10.0.0/16"
public_subnet_cidrs  = ['10.10.0.0/24', '10.10.1.0/24', '10.10.2.0/24']
private_subnet_cidrs = ['10.10.10.0/24', '10.10.11.0/24', '10.10.12.0/24']

enable_nat_gateway = true

extra_tags = {
  compliance = "regulated-finance"
}
